<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="assets/style.css">
        
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />

    </head>
    <body>
        <button onclick="proteger()">Protéger</button>
        <button onclick="neutre()">Neutre</button>
        <button onclick="crim()">Criminaliser</button>
        <div class="mapContainer">
            <div id="map"></div>    
        </div>

        <script>
            var paysCrime2020 = JSON.parse('<%- JSON.stringify(paysCrime2020) %>');
            //console.log(paysCrime2020)

             var tabCrime2020=[];
            for(paysCrime2020 of Object.keys(paysCrime2020[0]) ){
                //console.log(paysCrime2020)
                tabCrime2020.push(paysCrime2020);
            }

            var paysProteger2020 = JSON.parse('<%- JSON.stringify(paysProteger2020) %>');
            //console.log(paysProteger2020)

            for(paysProteger2020 of Object.keys(paysProteger2020[0]) ){
                //console.log(paysProteger2020)
            }
            var paysNeutre2020 = JSON.parse('<%- JSON.stringify(paysNeutre2020) %>');
            //console.log(paysNeutre2020)

            for(paysNeutre2020 of Object.keys(paysNeutre2020[0]) ){
                //console.log(paysNeutre2020)
            }

            var country = JSON.parse('<%- JSON.stringify(country) %>');
            console.log(country)

        

            
            
        </script>

        <script src="../ressources/country.geojson"></script>
        <link rel="stylesheet" href="../ressources/country.geojson">
        <script src="../js/map.js" type="module">
            
            
        </script>
    </body>
</html>
