@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('map.css');
@import url('chiffre.css');
@import url('feedback.css');
@import url('solution.css');
@import url('temoignage.css');

body{
    background-color: #262526;
    color: #FFF;
    font-family:"Hind Siliguri";
    overflow-x: hidden;
}

header{
    margin-top: 75px;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .menu{
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    position: fixed;
    top: 30px;
}
.submit_feedback{
    background: none;
    box-shadow: none;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 71%;
    margin-top: 20px;
    z-index: 1000;
}
.submit_feedback::before{
    display: none;
}
header .menu span{
    width: 40px;
    border: 1px solid #FFF;
    margin-bottom: 12px;
}
.menuSection{
    display: none;
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    position: fixed;
}
.menuSection a {
        color: #FFF;
        text-decoration: none;
        font-size: 24px;
        margin-bottom: 63px;
        margin-right: -12px;
}
header img{
    margin-left: 40%;
}
.partager{
    width: 144px;
    background-color: #FFF;
    color: #000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin-right: 75px;
    max-height: 35px;
}

.RS{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
    bottom: 30px;
}
.RS p{
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    font-size: 21px;
}

.RS .fbLink{
    margin-left: 0;
}

.partager:hover {
    cursor: pointer;
}
.introCT{
    display: flex;
    flex-direction: row;

}
.textIntro{
    width: 52%;
    margin-left: 250px;
    margin-top: 200px;
}
.introTitle{
    font-family: 'Raleway';
    font-size: 64px;
    font-weight: 800;
    width: 214%;
}
.introSub{
    font-family: 'Taviraj';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 58px;
}
.introP{
    font-weight: 500;
    font-size: 400;
}
.rayure{
    display:inline-block;
    position:relative;
}
.rayure::before{
    content: '';
    position: absolute;
    top: 46%;
    left: 0;
    width:100%;
    height:5px;
    display:block;
    background:linear-gradient(to right, #FF567F , #FFA722, #FFFF24,#6BFF1D, #55DDEF, #BB64FF);
}
.introButton{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: 66px;
}
.carteButton{
    width: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
}
.agirButton{
    width: 121px;
    border-radius:50px;
    border: 1px solid #FFF;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    color: #FFF;
    text-decoration: none;
}
.invitScroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.invitScroll p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 34px;
}
.invitScroll img{
    height: 126px;
    
}

.title{
    overflow: hidden;
}
h2{
    font-size: 310px;
    color: #1C1C1C;
    font-family: 'Raleway';
    text-align: center;
    width: 110vw;
}
h3{
    font-size: 64px;
    color:#FFF;
    font-family: 'Raleway';
    margin-left: 150px;

}

h3{
    margin-top: -232px;
    margin-bottom: 232px;
    
}
/*----------visualisation----------*/
.ctVisualisation{
    margin-top: 100px;
}
.introVis{
    text-align: center;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.introVis p{
    width: 60%;
    font-size: 20px;
}
.accesMap{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;;
}
.accesMap img{
    width: 1632px;
    height: 931px;
}
/*----------Citation--------*/
.ctCitation{
    display: flex;
    flex-direction: row;
    margin-top: 166px;
    justify-content: center;
    margin-bottom: 140px;
}
.ctCitation img{
    width: 59px;
    height: 42px;
}
.ctCitation p{
    font-size: 36px;
    font-weight: 600;
}
.guillemet1color{
    margin-right: 20px;
    margin-top: -25px;
}
.guillemet2color{
    margin-left: 20px;
    margin-top: 25px;
}

/*------------footer-------*/
.ctFooter{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contentFooter{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bloc{
    display: flex;
    flex-direction: column;
}
.titleBloc{
    font-size: 24px;
    font-weight: 700;
    margin-left: 0;
}
.bloc span{
    width: 112px;
    height: 1px;
    border-bottom: 2px solid #FFF;
    margin-bottom: 43px;
}
.aPropos{
    width: 450px;
    margin-left: 256px;
}
.sources{
    width: 418px;
}
.contact{
    width: 250px;
}
.footerDescri{
    margin-left: 0;
}

.ctRs{
    margin-top: 44px;
    margin-bottom: 44px;
}
.fbLink{
    margin-left: 56px;
}
.goToUp{
    width: 56px;
    margin-right: 72px;
    margin-top: 180px;
}
