@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('splider.css');
@import url('map.css');
@import url('button.css');

body{
    background-color: #1C1C1C;
    color: #FFF;
    font-family:"Poppins";
    /*padding-left: 75px;*/
}

/*-----------HEADER---------*/
.header{
    width: 100%;
    height: 0px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.header img{
    width:250px ;
    height: 23vh;
    margin-top: 7vh;
    margin-bottom: 4vh;
}
.menu{
    display: flex;
    flex-direction: row;
    
}
.menu p{
    margin-right: 3%;
}

.partage{
    position: sticky;
    top:120vh;

}
/*----------INTRO-----------*/
.logoIntro{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoIntro img{
    width: 80%;
}

/*-----------CHIFFRE----------*/
.ctChiffre{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.numbers_slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.storyActiveSlide {
    background-color: cornflowerblue;
}

.nextActiveSlide {
    background-color: crimson;
}

.previousActiveSlide {
    background-color: darkcyan;
}

.number {
    background-image: url(images/bigPaintChiffre.svg);
    width: 35%;
    height: 43vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number h2{
    font-size: 9rem;
    margin-left: -84px;
    margin-top: 164px;
}
.legendeChiffre{
    width: 60%;
    font-size:1.80rem;
}
.title{
    font-size: 6.5rem;
    writing-mode: vertical-rl;
    font-weight: 800;
}
